* {
  box-sizing: border-box;
}
:root {
  --darkgreen: #273c2c;
  --darkgrey: #626868;
  --altdarkgrey: #444848;
  --lightgrey: #939196;
  --lightpurple: #d3c1d2;
  --lightpink: #ffe2fe;
  --darkpurple: #140014;
  --altdarkpurple: #181118;
}
body {
  font-family: Verdana, Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--darkpurple);
  color: var(--lightpurple);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.floatleft {
  float: left;
}

.margin20 {
  margin: 20px;
}

.borderradius {
  border-radius: 5px;
}

h1 {
  color: var(--darkgreen);
  font-family: Verdana, Arial, sans-serif;
  text-align: center;
  font-size: larger;
}

h2 {
  color: var(--darkgreen);
  font-family: Verdana, Arial, sans-serif;
  text-align: center;
  font-size: large;
}

h3 {
  color: var(--darkgreen);
  font-family: Verdana, Arial, sans-serif;
  font-size: medium;
}

p {
  color: var(--darkgreen);
  font-family: Verdana, Arial, sans-serif;
  font-size: medium;
  margin: 0;
}

ol {
  list-style-position: inside;
  list-style-type: upper-roman;
}

ul {
  border-left: 5px var(--darkgreen);
  background-color: var(--lightpurple);
  list-style-type: circle;
  padding: 10px 20px;
}

#defaulttable {
  font-family: Verdana, Arial, sans-serif;
  border-collapse: collapse;
  padding: 8px;
}

#defaulttable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: var(--darkgreen);
  color: var(--lightpurple);
}

#defaulttable tr:nth-child(even) {
  background-color: var(--altdarkgrey);
}

#defaulttable tr:hover {
  background-color: var(--darkpurple);
}

#defaulttable td {
  border: 1px solid var(--darkgrey);
  padding: 8px;
}

#homeimage {
  float: center;
  margin: 20px;
}

.blogleftcolumn {
  float: left;
  width: 75%;
}

.blogrightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

.blogplaceholderimg {
  background-color: var(--darkpurple);
  width: 100%;
  padding: 20px;
  border-radius: 5px;
}

.card {
  background-color: var(--lightgrey);
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
}

.blogrow::after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 800px) {
  .blogleftcolumn,
  .blogrightcolumn {
    width: 100%;
    padding: 0;
  }
}

header {
  color: var(--lightpurple);
  width: 100vw;
  overflow: hidden;
  background-image: linear-gradient(
    to bottom,
    var(--darkpurple),
    var(--altdarkpurple)
  );
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 48px;
  text-align: center;
}

footer {
  width: 100vw;
  overflow: hidden;
  background-image: linear-gradient(
    to bottom,
    var(--darkgrey),
    var(--lightgrey)
  );
  display: flex;
  justify-content: space-around;
  color: var(--darkgreen);
  text-align: center;
  position: fixed;
  bottom: 0;
  padding: 10px;
}

nav {
  width: 100vw;
  overflow: hidden;
  background-image: linear-gradient(
    to bottom,
    var(--darkgrey),
    var(--lightgrey)
  );
  display: flex;
  justify-content: space-around;
}

nav a {
  color: var(--darkgreen);
  padding: 14px 14px;
  text-decoration: none;
}

nav a:hover {
  background-color: var(--darkgreen);
  color: var(--lightpurple);
}

.pagewrapper {
  width: 90%;
  background-color: var(--lightpurple);
  color: var(--darkgreen);
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
}
